
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoPermition</title>
</head>
<body>
    <div> 
        <h2>You don`t have permition to this action</h2>
    </div>
</body>
</html>
