@model Blog1.Models.PostViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            <b>Autor</b>
        </dt>
        <dd>
            @Html.ActionLink(Model.UserName, "Autor", "Posts", new { id = Model.UserName }, null)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @{Html.RenderAction("List", "Comments");}
        </dd>
        <dd>
        @{Html.RenderAction("Create", "Comments");}
        </dd>
    </dl>
</div>
