@model IEnumerable<Blog1.Models.CommentViewModel>

<table class="table">

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @if (User.Identity.Name == item.User)
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) 
                <span> | </span>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            }
            
        </td>
    </tr>
}

</table>
